body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    background-size: cover;
    background-attachment: fixed;
}

.signup {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 650px;
    height: 500px;
    margin-top: 50px;
    background-color: #FBFBFB;
    display: flex;
}
.login {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 650px;
    height: 500px;
    margin-top: 50px;
    background-color: #FBFBFB;
    display: flex;
}
h5 {
    margin-top: -12px;
}

label {
    text-transform: uppercase;
    font-size: 12px;
    color: rgb(48, 48, 48);
}

input {
    border: none;
    width: 100%;
    border-bottom: 1px solid lightgray;
    background-color: #FBFBFB;
    position: relative;
    top: -10px;
    padding: 5px;
}

input:focus {
    outline: none !important;
    border-bottom: 1px solid red;
    font-size: 14px;
    font-weight: bold;
}

#password:focus {
    color: red;
    font-size: 16px;
    font-weight: bold;
}

button {
    border: none;
    background-color: red;
    border-radius: 20px;
    padding: 10px;
    color: white;
    width: 120px;
    margin-top: 15px;
    cursor: pointer;
}

p {
    font-size: small;
}

button:hover {
    box-shadow: 0 0 25px rgba(8, 8, 8, 0.2);
    background-color: rgb(182, 49, 93);
}

.buttonlink {
    text-decoration: none;
    color: inherit;
}